@{
    ViewData["Title"] = "Books Page";
}
@model Books

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">book page</a>.</p>
</div>

<button class="btn btn-info" type="button" id="addressSearch"
        onclick="location.href = '@Url.Action("AddPerson", "Books")'" />

 
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-6">
                <input value="Cancel" class="btn btn-default" />