@{
    ViewData["Title"] = "Books Page";
}
@model Books

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">book page</a>.</p>
</div>

<button class="btn btn-info" type="button" id="addressSearch"
        onclick="location.href = '@Url.Action("AddPerson", "Books")'" />

 