
@using Kendo.Mvc.UI
@using ReferralSystem.Models


<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<h3>Demands</h3>

@(Html.Kendo().Grid<Demand>
                                                ()
                                                .Name("gridDemands")
                                                .ColumnMenu(col => col.Filterable(false))
                                                .Columns(columns =>
                                                {
                                                    columns.Bound(p => p.Id).Visible(false);
                                                    columns.Bound(p => p.BusinessUnit).Width(100);
                                                    columns.Bound(p => p.Role).Width(80);
                                                    columns.Bound(p => p.Experience).Width(90);
                                                    columns.Bound(p => p.Location).Width(90);
                                                    columns.Bound(p => p.NoOfVacancies).Width(120);
                                                    columns.Bound(p => p.ClosingDate).Format("{0:dd/MM/yyyy}").Width(120);
                                                    columns.Command(command =>
                                                    {
                                                        //command.Custom("Create Position").Click("CreatePosition").Text("Create Position");
                                                        //command.Custom("View Demand").Click("ViewDemand").Text("View Demand");
                                                        command.Custom("Create Position").Click("CreatePosition").Text(" ").IconClass("k-icon k-i-pencil").HtmlAttributes(new { @title = "Create Position" });
                                                        command.Custom("View Demand").Click("ViewDemand").Text(" ").IconClass("k-icon k-i-eye").HtmlAttributes(new { @title = "View Demand" });

                                                    }).Width(100);
                                                })
                                                .Height(500)
                                                .Editable(editable => editable.Mode(GridEditMode.PopUp))
                                                .ToolBar(t => t.Search())
                                                .Pageable()
                                              .Excel(excel => excel
                                                  .FileName("Referral Export.xlsx")
                                                  .Filterable(true)
                                                  .ProxyURL(Url.Action("Excel_Export_Save", "Home"))
                                              )
                                                .Sortable()
                                                .Navigatable()
                                                .Resizable(r => r.Columns(true))
                                                .Reorderable(r => r.Columns(true))
                                                .Groupable(g => g.ShowFooter(false))
                                                .Filterable()
                                                .Scrollable()
                                                .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .Batch(true)
                                                .PageSize(20)
                                                .AutoSync(true)
                                                .ServerOperation(false)
                                                .Events(events => events.Error("error_handler"))
                                                    .Read("Demands_Read", "Home")))

@(Html.Kendo().Window().Name("Details")
                        .Title("Demand Details")
                        .Visible(false)
                        .Modal(true)
                        .Draggable(true)
                        .Width(600)
)

<script type="text/x-kendo-template" id="template">
    <div id="details-container">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label" style="font-weight:bold"> Demand Id: </label> #=  DemandId #
            </div>
            <div class="col-md-6">
                <label class="control-label" style="font-weight:bold"> Location: </label> #= Location #
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label" style="font-weight:bold"> Business Unit: </label> #= BusinessUnit #
            </div>
            <div class="col-md-4">
                <label class="control-label" style="font-weight:bold"> No Of Vacancies: </label> #= NoOfVacancies #
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label" style="font-weight:bold"> Project Name: </label> #= ProjectName #
            </div>
            <div class="col-md-6">
                <label class="control-label" style="font-weight:bold"> Role: </label> #= Role #
            </div>
        </div>

        

        <div class="row">
            <div class="col-md-6">
                <label class="control-label" style="font-weight:bold"> Band: </label> #= Band #
            </div>
            <div class="form-group col-md-6">
                <label class="control-label" style="font-weight:bold"> Experience: </label> #= Experience #
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label" style="font-weight:bold"> Job Description: </label> #= JobDescription #
            </div>
           
            <div class="col-md-6">
                <label class="control-label" style="font-weight:bold">Skills: </label> #= Skills #
            </div>

        </div>
    </div>
</script>

<script type="text/javascript">

    function CreatePosition(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var url = '@Url.Action("CreatePosition", "Home")?Id=' + dataItem.Id;
        window.location.href = url;
    };

    var detailsTemplate = kendo.template($("#template").html());

    function ViewDemand(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#Details").data("kendoWindow");

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function onDataBound(e) {
        var grid = this;
        grid.table.find("tr").each(function () {
            var dataItem = grid.dataItem(this);
            debugger;
            var type = dataItem.Discontinued ? 'success' : 'error';
            var text = dataItem.Discontinued ? 'available' : 'not available';

            $(this).find('script').each(function () {
                eval($(this).html());
            });

            $(this).find(".badgeTemplate").kendoBadge({
                type: type,
                value: text,
            });


            kendo.bind($(this), dataItem);
        });
    }

    function returnFalse() {
        return false;
    }
</script>


<style>
    .k-grid tr .checkbox-align {
        text-align: center;
        vertical-align: middle;
    }

    .product-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-right: 5px;
    }

    .product-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }

    .k-rating-container .k-rating-item {
        padding: 4px 0;
    }

        .k-rating-container .k-rating-item .k-icon {
            font-size: 16px;
        }

    .dropdown-country-wrap {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        white-space: nowrap;
    }

        .dropdown-country-wrap img {
            margin-right: 10px;
        }

    #grid .k-grid-edit-row > td > .k-rating {
        margin-left: 0;
        width: 100%;
    }

    /*.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button {
        margin:0;
    }*/

    .k-icon {
        margin: 0 !important;
    }
</style>





